/* RESET CSS */
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
    color: inherit;
}

/* START NAVBAR CSS */
#NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#NavBar ul {
    display: flex;
    column-gap: 55px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    color: #FF6060;
}

#NavBar ul a:hover{
    text-decoration: underline;
}
/* END NAVBAR CSS */

/* START FEED CSS */
#Feed {
    max-width: 1240px;
    margin: auto;
}

.hero {
    background-image: url(utils/img-hero.png);
    background-position: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 48px;
}

.gallery {
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.thumb {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}
.thumb .thumb-img{
    position: absolute;
    display: block;
    object-fit: cover;
}
.img-gradient::after {
    display: block;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgb(0, 0, 0) 100%);
    margin-top: -150px;
    height: 120px;
    width: 100%;
    content: '';
  }
.thumb .img-gradient {
    position:absolute;
    left:0; top:0;
    width:100%;
    height:100%;
}
.thumb .thumb-title{
    position: absolute;
    z-index: 3;
    bottom: 0;
    padding: 20px;
    color: white;
    font-size: 18px;
}
/* END FEED CSS */

/* START FOOTER CSS */
#Footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

#Footer p{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
/* END FOOTER CSS */